<div class="popular-article" style="background-image: url(<%= image_path "#{@popular_article.image}"%>);">
  <h4 class="popular-title"><%= @popular_article.title%></h4>
  <p class="popular-body"><%= @popular_article.body.truncate(200)%></p>
</div>
<div class="category-container">
  <% @categories.each do |category| %>
    <article class='category-item' style="background-image: url(<%= image_path "#{article_properties(category)[:image]}"%>);">
      <span class="lower-link category-link">
        <%= link_to category.name, category %>
      </span>
      <span class="lower-link article-link">
        <%= link_to article_properties(category)[:title], article_properties(category)[:link] %>
      </span>
    </article>
  <% end %>
</div>
