<main class="article-container">
<h1 class="article-title" >
  <%= @article.title %>
</h1>

<p>
  <%= @article.author.name %> - <%= @article.created_at.strftime("%B %-d, %Y")%>
</p>

<img class="article-image" src="<%= image_path @article.image %>" alt="article image" >

<p>
  <%= @article.body %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</main>